<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>竞标赛排名</title>
</head>
<body>
<p><b>赢家用户ID:&nbsp</b>{{userID}}</p>
<p><b>赢家姓名:&nbsp</b>{{name}}</p>
<p><b>竞标赛:&nbsp</b>{{level_name}}</p>
<p><b>胜利:&nbsp</b>{{wins}}</p>
<p><b>平手:&nbsp</b>{{ties}}</p>
<p><b>失败:&nbsp</b>{{losses}}</p>
<p><b>等级:&nbsp</b>{{rank}}</p>
<p><b>团队名称:&nbsp</b>{{team_name}}</p>
<p><b>排名链接:&nbsp</b>{{ladder_url}}</p>
<p><b>前三名:&nbsp</b>{{top3}}</p>
<p><b>前五名:&nbsp</b>{{top5}}</p>
<p><b>前十名:&nbsp</b>{{top10}}</p>
<p><b>前四十名:&nbsp</b>{{top40}}</p>
<p><b>前一百名:&nbsp</b>{{top100}}</p>

</body>
</html>