<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>升级信息</title>
</head>
<body>
<p><b>名称</b><b>:&nbsp</b>{{name}}</p>
<p><b>几天前</b><b>:&nbsp</b>{{days_ago}}</p>
<p><b>胜利</b><b>:&nbsp</b>{{wins}}</p>
<p><b>失败</b><b>:&nbsp</b>{{losses}}</p>
<p><b>总分</b><b>:&nbsp</b>{{total_score}}</p>
<p><b>团队</b><b>:&nbsp</b>{{team}}</p>
<p><b>团队信息</b><b>:&nbsp</b>{{team_name}}</p>
<p><b>等级名</b><b>:&nbsp</b>{{level_name}}</p>
<p><b>session ID</b><b>:&nbsp</b>{{session_id}}</p>
<p><b>ladder URL</b><b>:&nbsp</b>{{ladder_url}}</p>
<p><b>历史分数URL</b><b>:&nbsp</b>{{score_history_graph_url}}</p>
<p><b>失败</b><b>:&nbsp</b>{{defeat}}</p>
<p><b>胜利</b><b>:&nbsp</b>{{victory}}</p>
<p><b>等级版本</b><b>:&nbsp</b>{{levelVersions}}</p>

</body>
</html>